.main-bg{
  background-image: url('./img/nct_logo.png');
  height: 250px;
  background-size: cover;
  background-position: center;
}

.container{
  vertical-align: auto;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.5s;
}