.main-bg{
  background-image: url('./Logo_NIKE.png');
  height: 100px;
  margin: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.container{
  vertical-align: auto;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: black;
  font-family: 'Courier New', Courier, monospace;
  transition: all 0.5s;
}

.cart{
  position: relative;
}

.plusBtn{
  position: relative;
  left: 43%;
}
.title{
  color: white;
  font-size: larger;
}
.nav{
  display: flex;
  justify-content: space-between;

}